<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MyBaseDir" value="C:\Users\helen\" />
    <add key="ExportDir" value="/home/charlie/udbakke1/" />
    <add key="ImportDir" value="/home/indbakke/" />
    <add key="ServerIP" value="10.152.120.37" />
    <add key="ServerUserName" value="charlie" />
    <add key="ServerUserPW" value="char1234lie" />
    <add key="ImportFilePrefix" value="ApEngros_PriCat_" />
  </appSettings>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source =.;Initial Catalog=Charlie-APE;Integrated Security=True;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
 <!--Helena took a chocolate biscuit-->